
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
  <table>
        <tbody><tr><th><label for="id_restimage">Restimage:</label></th><td><input id="id_restimage" name="restimage" type="file" required=""></td></tr>
          <tr><th><label for="id_restname">Restname:</label></th><td><input id="id_restname" maxlength="50" name="restname" type="text" required=""></td></tr>
        <tr><th><label for="id_restsite">Restsite:</label></th><td><input id="id_restsite" maxlength="200" name="restsite" type="text" required=""></td></tr>
    </tbody>
  </table>
    <input type="submit">
</form>
